<div class="extra-menubar">
	<div class="sony-header">
		<img id="sonyLogo" src="assets/images/sony_logo.svg" alt="Logo da Sony" />
	</div>
	<app-secondary-menubar></app-secondary-menubar>
</div>

<div class="main-menubar">
	<div class="psn-logo">
		<img src="assets/images/ps-logo.png" alt="Logo PlayStation Store" />
	</div>
	<nav class="navbar">
		<ul class="nav-list">
			<li><a>Novidades</a></li>
			<li><a>Coleções</a></li>
			<li><a>Ofertas</a></li>
			<li><a>PS5</a></li>
			<li><a>Assinaturas</a></li>
			<li><a>Navegar</a></li>
		</ul>
	</nav>
</div>
